@font-face {
  font-family: "Magnolia";
  src: url(/fonts/MagnoliaScript.otf);
}

img.fit {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: Magnolia, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.inlinelist {
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  margin-left: 0px;
  color: #007c89;
}

span {
  color: black;
}

.but {
  background-color: white;
  border: solid;
  border-color: gray;
  border-width: 0.1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 30%;
  margin-right: 30px;
  margin-left: 0px;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.but:hover {
  background-color: #007c89;
  opacity: 80%;
  color: white;
}

label {
  font-weight: bold;
  font-size: 80%;
}

li {
  font-size: 80%;
  margin-left: -25px;
  margin-right: 80px;
  margin-bottom: 5px;
}

.image {
  width: 250px;
  height: 250px;
  margin-left: 30px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.mainbody {
  width: 520px;
  max-height: 100px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inline-block {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
}

.text {
  width: 330px;
  font-weight: normal;
}

.check {
  height: 20px;
  width: 20px;
  opacity: 30%;
  margin-top: auto;
  margin-right: 5px;
  margin-left: 15px;
}

input:checked {
  opacity: 100%;
}

.check:hover {
  height: 20px;
  width: 20px;
  opacity: 100%;
  cursor: pointer;
}

.textbox {
  width: 500px;
  border-color: rgb(185, 184, 184);
  border-style: solid;
  border-width: 0.1px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input:valid,
textarea:valid {
  background: #007c89;
  color: white;
  opacity: 50%;
}

input:invalid,
textarea:invalid {
  background: none;
  color: darkred;
  font-weight: bold;
  opacity: 50%;
}

.anchor {
  text-decoration: underline;
  color: #007c89;
}

.anchorlogin {
  text-decoration: none;
  color: #007c89;
}

.showPass {
  width: 10px;
  height: 10px;
  cursor: pointer;
  font-size: 10px;
  color:#007c89;
  font-weight: bold;
  display: inline-block;
  margin-left: 415px;
  margin-right: 10px;
  vertical-align: middle;
  padding-bottom: 2px;
}

.showPassImage {
  cursor: pointer;
  width: 150%;
}

.showPass2 {
  width: 10px;
  height: 10px;
  cursor: pointer;
  font-size: 10px;
  color:#007c89;
  font-weight: bold;
  display: inline-block;
}